<button class="btn btn-primary" ng-click="$ctrl.resetView()">View Week</button>
<mwl-calendar
    view="$ctrl.calendar.calendarView"
    view-date="$ctrl.calendar.viewDate"
    day-view-start="11:00"
    day-view-end="23:00"
    events="$ctrl.calendar.events"
    view-title="calendarTitle"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="true">
</mwl-calendar>
