<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Song Info</h3>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Pack</th>
            <th>Difficulty</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td ng-bind="$ctrl.songData.songId"></td>
          <td ng-bind="$ctrl.songData.songName"></td>
          <td ng-bind="$ctrl.songData.songPack"></td>
          <td ng-bind="$ctrl.songData.difficulty"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Leaderboard</h3>
    <score-leaderboard scores="$ctrl.scores"></score-leaderboard>
  </div>
</div>
<div class="row" ng-if="$ctrl.isLoggedIn()">
  <div class="col-md-6 col-md-offset-3">
    <button class="btn btn-primary" ng-click="$ctrl.openSubmitScoreModal()">Submit Score</button>
  </div>
</div>
