<div class="row">
  <div class="col-md-6">
    <h4>Employee List</h4>
    <div class="list-group">
      <button
        ng-repeat="employee in $ctrl.employees"
        class="list-group-item"
        ng-class="{active: $ctrl.selectedEmployee.employeeId === employee.employeeId}"
        ng-click="$ctrl.selectEmployee(employee)">
        {{employee.firstName}} {{employee.lastName}}
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div ng-hide="$ctrl.selectedEmployee">
      <h4>Select an employee</h4>
    </div>
    <div ng-show="$ctrl.selectedEmployee">
      <h4>Availability for <span class="employee-name">{{$ctrl.selectedEmployee.firstName}} {{$ctrl.selectedEmployee.lastName}}</span></h4>
      <uib-accordion close-others="false">
        <div uib-accordion-group ng-repeat="(dow, dowObj) in $ctrl.DAY_OF_WEEK" class="panel-default">
          <uib-accordion-heading>{{dowObj.name}} <span class="quick-availability">{{$ctrl.quickAvailabilityString(dow)}}</span></uib-accordion-heading>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="availability in $ctrl.selectedEmployee.availability[dow]">
                <td><timeslot-picker timeslot="availability.fromTimeslot" view-only="true"></td>
                <td><timeslot-picker timeslot="availability.toTimeslot" view-only="true"></td>
                <td><button class="btn btn-danger" ng-click="$ctrl.deleteAvailability(availability)">Delete</button></td>
              </tr>
              <tr>
                <td><timeslot-picker timeslot="$ctrl.newShift[dow].startTimeslot"></timeslot-picker></td>
                <td><timeslot-picker timeslot="$ctrl.newShift[dow].endTimeslot"></timeslot-picker></td>
                <td><button class="btn btn-primary" ng-click="$ctrl.addAvailabilityToSelected(dow)">Add</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>
