<table class="table table-hover">
  <thead>
    <tr>
      <th ng-if="$ctrl.showSong">Song</th>
      <th ng-if="!$ctrl.noRank">Rank</th>
      <th>Name</th>
      <th>Score (%)</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="score in $ctrl.scores">
      <td ng-if="$ctrl.showSong" ng-bind="score.songName"></td>
      <td ng-if="!$ctrl.noRank" ng-bind="$index+1"></td>
      <td ng-bind="score.name"></td>
      <td ng-bind="score.score"></td>
      <td ng-bind="score.date"></td>
      <td ng-if="$ctrl.canEdit(score)"><button class="btn-xs btn-danger">Delete</button></td>
      <td ng-if="!$ctrl.canEdit(score)"></td>
    </tr>
  </tbody>
</table>