<uib-accordion close-others="false">
  <div uib-accordion-group ng-repeat="(dow, dowObj) in $ctrl.DAY_OF_WEEK" class="panel-default" heading="{{dowObj.name}} ({{$ctrl.groupedShifts[dow].length || 0}})">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th># Employees</th>
          <th># Admins</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="shift in $ctrl.groupedShifts[dow]">
          <td><timeslot-picker timeslot="shift.startTimeslot" view-only="true"></timeslot-picker></td>
          <td><timeslot-picker timeslot="shift.endTimeslot" view-only="true"></timeslot-picker></td>
          <td ng-bind="shift.numEmployees"></td>
          <td ng-bind="shift.admin"></td>
          <td><button class="btn btn-danger" ng-click="$ctrl.deleteShift(dow, $index)">Delete</button></td>
        </tr>
        <tr>
          <td><timeslot-picker timeslot="$ctrl.newShift[dow].startTimeslot"></timeslot-picker></td>
          <td><timeslot-picker timeslot="$ctrl.newShift[dow].endTimeslot"></timeslot-picker></td>
          <td><input type="text" class="form-control" ng-model="$ctrl.newShift[dow].numEmployees" /></td>
          <td><input type="text" class="form-control" ng-model="$ctrl.newShift[dow].admin" /></td>
          <td><button class="btn btn-primary" ng-click="$ctrl.addShift(dow)">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</uib-accordion>
