<form>
  <div class="form-group">
    <label>Employee</label>
    <select type="text" class="form-control" ng-model="$ctrl.employee">
      <option ng-repeat="employee in $ctrl.allEmployees">
        {{employee.firstName}} {{employee.lastName}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Day</label>
    <select class="form-control" ng-model="$ctrl.dow">
      <option ng-repeat="(dow, dowObj) in $ctrl.DAY_OF_WEEK" value="{{dow}}">
        {{dowObj.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Start Time</label>
    <timeslot-picker timeslot="$ctrl.startTimeslot"></timeslot-picker>
  </div>
  <div class="form-group">
    <label>End Time</label>
    <timeslot-picker timeslot="$ctrl.endTimeslot"></timeslot-picker>
  </div>
  <button type="submit" ng-click="$ctrl.modifySchedule()" class="btn btn-primary">{{$ctrl.update ? 'Update' : 'Create'}}</button>
  <button ng-click="$ctrl.close()" class="btn btn-danger">Close</button>
</form>
