<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form novalidat>
      <div class="form-group">
        <label class="col-md-2 control-label text-right" for="song-name-field">Song Name: </label>
        <div class="col-md-10">
          <input class="form-control" id="song-name-field" type="text" ng-model="$ctrl.searchForm.songName" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="$ctrl.submitSearch()">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-if="$ctrl.searchResults.length > 0">
  <div class="col-md-6 col-md-offset-3">
    <h4>Results</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Pack</th>
          <th>Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="song in $ctrl.searchResults" class="pointer" ui-sref="song-view({songId: song.songId})">
          <td ng-bind="song.songId"></td>
          <td ng-bind="song.songName"></td>
          <td ng-bind="song.songPack"></td>
          <td ng-bind="song.difficulty"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>