<button class="btn btn-primary" ng-click="$ctrl.openAddUserModal()">Create User</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in $ctrl.employees" class="pointer">
      <td ng-bind="employee.firstName" ng-click="$ctrl.openAddUserModal(employee)"></td>
      <td ng-bind="employee.lastName" ng-click="$ctrl.openAddUserModal(employee)"></td>
      <!-- <td><button class="btn btn-default">Set Color</button></td> -->
      <td><button class="btn-xs btn-danger" ng-click="$ctrl.deleteEmployee(employee.employeeId)">Delete</button></td>
    </tr>
  </tbody>
</table>
