<button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create User</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in $ctrl.users">
      <td ng-bind="user.name"></td>
      <td ng-bind="user.id"></td>
      <td><button class="btn btn-default">Set Color</button></td>
      <td><button class="btn-xs btn-danger" ng-click="$ctrl.removeUser(user.id)">Delete</button></td>
    </tr>
  </tbody>
</table>

<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New User</h4>
            </div>
            <div class="modal-body">
                <p>Placeholder</p>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>