<p>First Name: </p><input type="text" ng-model="$ctrl.employee.firstName"></input>
<p>Last Name: </p><input type="text" ng-model="$ctrl.employee.lastName"></input>
<p>Min. Hours: </p><input type="number" ng-model="$ctrl.employee.minHours"></input></p>
<p>Max. Hours: </p><input type="number" ng-model="$ctrl.employee.maxHours"></input></p>
<p>Can Lift: </p><input type="checkbox" ng-model="$ctrl.employee.canLift"></input></p>
<p>Food Maker: </p><input type="checkbox" ng-model="$ctrl.employee.foodMaker"></input></p>
<p>Drink Maker: </p><input type="checkbox" ng-model="$ctrl.employee.drinkMaker"></input></p>
<p>Admin: </p><input type="checkbox" ng-model="$ctrl.employee.admin"></input></p>
<p>Username: </p><input type="text" ng-model="$ctrl.employee.username"></input>
<p>Password: </p><input type="password" ng-model="$ctrl.employee.password"></input></p>
<button ng-click="$ctrl.createEmployee()" class="btn btn-default">Create</button>
<button ng-click="$ctrl.close()" class="btn btn-default">Close</button>
