<form class="form-horizontal" novalidate>
  <div class="col-md-offset-4 col-md-4">
    <div class="form-group">
      <label class="col-md-2 control-label" for="register-user-id-field">User Id: </label>
      <div class="col-md-10">
        <input class="form-control" id="register-user-id-field" type="text" ng-model="$ctrl.registerForm.userName" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="register-password-field">Password: </label>
      <div class="col-md-10">
        <input class="form-control" id="register-password-field" type="password" ng-model="$ctrl.registerForm.password" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="register-confirm-password-field">Confirm Password: </label>
      <div class="col-md-10">
        <input class="form-control" id="register-confirm-password-field" type="password" ng-model="$ctrl.registerForm.confirmPassword" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="$ctrl.submitRegisterForm()">Register</button>
        <a style="padding-left: 1em;" ui-sref="login">Already have an account? Click here to Login.</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
    </div>
  </div>
  <div class="col-md-offset-4"></div>
</form>
